<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <%- include('../partials/header'); %>

    <main>
      <div class="p-5 mb-4 bg-light rounded-3">
        <h1>This is about</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>